body {
    background-color:#142D2D;
    color:white;
}
ul {
    list-style-type: none;
}

li:hover {
    background-color: #E1F7B9;
    color: #3B88AD;
    transform: scale(1.07);
    width: 50%;
    transition:0.4s all;
}

.title {
    color:#76DA8A;
}

.pomodoro-estimate {
    color: #E83F8B;
    font-size:30px;
}

input {
    border-radius:3px;
    border: none;
    padding:5px;
}
#new-todo-button{
    color:#618CB6;
    background-color:#EDEDCE;
    padding:5px;
}
#new-todo-button:hover{
  color: orange;
  transform: scale(1.055);
  transition: 0.2s all;
}

.completed-todo{
  text-decoration: line-through;
}